<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="../static/css/images.css" rel="stylesheet" th:href="@{/css/images.css}" type="text/css"/>
</head>
<body>

<div th:fragment="campaignTypeDropdown" class="text-center" th:object="${campaignForm}">
    <label th:text="#{campaign.type}">Campaign type</label>
    <div class="dropdown btn-group">
        <button class="btn btn-link dropdown-toggle" type="button" id="languageMenu"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <label class="text-secondary" th:text="*{type.displayName}"></label>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="languageMenu">
            <li th:each="campaignType : ${T(com.greenapper.enums.CampaignType).values()}">
                <a th:href="@{'/campaigns/'+ ${#strings.toLowerCase(campaignType)} + '/create'}"
                   th:text="${campaignType.displayName}"></a>
            </li>
        </ul>
    </div>
</div>

<div class="form-group" th:fragment="campaignFields">
    <div hidden="hidden">
        <input class="form-control" th:field="*{id}"/>
    </div>
    <div hidden="hidden">
        <input class="form-control" th:field="*{state}"/>
    </div>
    <div hidden="hidden">
        <input class="form-control" th:field="*{campaignImageFilePath}"/>
    </div>
    <div hidden="hidden">
        <input class="form-control" th:field="*{type}" th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.title}">Title</label>
        <input autofocus="autofocus" class="form-control" th:field="*{title}"
               th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.description}">Description</label>
        <input class="form-control" th:field="*{description}"
               th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.image}">Campaign image</label>
        <img th:if="*{campaignImageFilePath != null && campaignImageFilePath != ''}"
             th:src="@{~/images(fileName=*{campaignImageFilePath})}"
             class="img-thumbnail img-thumbnail-size">
        <input accept="image/x-png,image/jpeg,image/jpg" type="file" name="campaignImage"
               th:attrappend="disabled=${readonly != null} ? 'disabled' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.startDate}">Campaign start date</label>
        <div class="input-group date" data-date-format="yyyy-mm-dd">
            <input class="form-control" placeholder="yyyy-mm-dd" th:field="*{startDate}" type="text"
                   th:attrappend="readonly=${readonly != null} ? 'readonly' : ''">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.endDate}">Campaign end date</label>
        <div class="input-group date" data-date-format="yyyy-mm-dd">
            <input class="form-control" placeholder="yyyy-mm-dd" th:field="*{endDate}" type="text"
                   th:attrappend="readonly=${readonly != null} ? 'readonly' : ''">
            <div class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.quantity}">Available quantity</label>
        <input class="form-control" th:field="*{quantity}"
               th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.showAfterExpiration}">Show after expiration</label>
        <select id="campaignExpirationDropdown" name="campaignExpirationDropdown" th:field="*{showAfterExpiration}"
                th:attrappend="disabled=${readonly != null} ? 'disabled' : ''">
            <option id="showAfterExpiration" th:text="#{campaign.showAfterExpiration.true}"
                    th:value="true"></option>
            <option id="noShowAfterExpiration" th:text="#{campaign.showAfterExpiration.false}"
                    th:value="false"></option>
        </select>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.originalPrice}">Original price</label>
        <input class="form-control" th:field="*{originalPrice}"
               th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.percentDiscount}">Percent discount</label>
        <input class="form-control" th:field="*{percentDiscount}"
               th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <div class="form-group">
        <label th:text="#{campaign.discountedPrice}">Discounted price</label>
        <input class="form-control" th:field="*{discountedPrice}"
               th:attrappend="readonly=${readonly != null} ? 'readonly' : ''"/>
    </div>
    <script type="text/javascript" th:if="${readonly == null}">
            $(function () {
                 $('.input-group.date').datepicker({format: "yyyy-mm-dd"});
            });

    </script>
</div>
<div th:if="${readonly} == null" class="text-center" th:fragment="submitCampaign">
    <input class="btn btn-primary" th:value="#{campaign.submit}" type="submit"/>
</div>
<div class="text-center" th:fragment="backButton">
    <br/>
    <input class="btn btn-primary" th:value="#{general.button.back}" onclick="goBack()" type="submit"/>
    <script>
        function goBack() {
          window.history.back();
        }


    </script>
</div>
</body>
</html>