<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments :: stdHead"></th:block>

    <title th:text="#{campaigns.overview.title}">Profile</title>

    <link href="../static/css/images.css" rel="stylesheet" th:href="@{/css/images.css}" type="text/css"/>
    <link href="../static/css/tables.css" rel="stylesheet" th:href="@{/css/tables.css}" type="text/css"/>
</head>
<body>
<div th:replace="fragments :: navbar">Navigation bar fragment</div>

<div class="container-fluid body-content">
    <form action="#" th:action="@{${T(com.greenapper.controllers.CampaignController).CAMPAIGN_CREATION_URI}}"
          method="get" style="margin:auto;">
        <input class="btn btn-default" th:value="#{campaign.overview.create.button}" type="submit"/>
    </form>
    <div class="table-responsive">
        <table id="campaignManagementOverview" class="table table-hover table-striped ">
            <thead>
            <tr>
                <th><label th:text="#{campaign.overview.table.header.title}"></label></th>
                <th><label th:text="#{campaign.overview.table.header.description}"></label></th>
                <th><label th:text="#{campaign.overview.table.header.startDate}"></label></th>
                <th><label th:text="#{campaign.overview.table.header.endDate}"></label></th>
                <th><label th:text="#{campaign.overview.table.header.type}"></label></th>
                <th><label th:text="#{campaign.overview.table.header.state}"></label></th>
                <th width="15%"><label th:text="#{campaign.overview.table.header.image}"></label></th>
                <th><label th:text="#{campaign.overview.table.header.functions}"></label></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="campaign : ${campaigns}">
                <td th:text="${campaign.title}"></td>
                <td th:text="${campaign.description}"></td>
                <td th:text="${campaign.startDate}"></td>
                <td th:text="${campaign.endDate}"></td>
                <td th:text="${campaign.type.displayName}"></td>
                <td th:text="${campaign.state.displayName}"></td>
                <td><img class="img-thumbnail img-table-size"
                         th:if="${campaign.campaignImageFilePath != null && campaign.campaignImageFilePath != ''}"
                         th:src="@{~/images(fileName=${campaign.campaignImageFilePath})}" src=""/>
                    <div style="width:200px"
                         th:unless="${campaign.campaignImageFilePath != null && campaign.campaignImageFilePath != ''}">
                    </div>
                </td>
                <td width="28%">
                    <form th:action="@{/campaigns/} + ${campaign.id}" method="get">
                        <input class="btn btn-link" th:value="#{campaign.overview.functions.view}" type="submit"/>
                    </form>
                    <form th:action="@{/campaign-manager/campaigns/update/} + ${campaign.id}" method="get"
                          th:if="${campaign.state.displayName} != 'Archived'">
                        <input class="btn btn-link" th:value="#{campaign.overview.functions.edit}" type="submit"/>
                    </form>
                    <form th:action="@{/campaign-manager/campaigns/update/state/} + ${campaign.id} + '/' + ${campaign.state.displayName == 'Active' ? 'inactive' : 'active'}"
                          th:method="patch" th:if="${campaign.state.displayName} != 'Archived'">
                        <input class="btn btn-link"
                               th:value="${campaign.state.displayName == 'Active'} ? #{campaign.overview.functions.state.deactivate} : #{campaign.overview.functions.state.activate}"
                               type="submit"/>
                    </form>
                    <form th:action="@{/campaign-manager/campaigns/update/state/} + ${campaign.id} + '/archived'"
                          th:method="patch" th:if="${campaign.state.displayName} != 'Archived'">
                        <input class="btn btn-link" th:value="#{campaign.overview.functions.state.archive}"
                               type="submit"/>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>